:root {
/* criando variaveia no css e atribuindo valor a elas 
para criar a variavel deve-se começar com o --*/
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline:none;
}

/* para quando o botão for ativado mudar de cor */
.button:active{
    background-color: #ccc;
}
   /* O span irá ocupar um valor de 2 colunas */
.button.double {
    grid-column: span 2;
}
   /* O span irá ocupar um valor de 3 colunas */
.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #fa8231;
    color:#FFF;
}

/* Aparentemente colocar cc no final da cor, seleciona a cor levemente mais escura */

.button.operation:active {
    background-color: #fa8231cc;
}